/* Jura Font Family - Variable Weight */
@font-face {
  font-family: 'Jura';
  src: url('/fonts/Jura/Jura-Variable.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
