body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-primary);
    background: var(--bg-primary);
    color: white;
}

.view-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Loader */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-primary-500);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
